<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="WebApplication1.SiteMaster" %>

<!DOCTYPE html>

<html lang="es">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%: Page.Title %> - Mi aplicación ASP.NET</title>

    <script src='<%= ResolveUrl("~/Scripts/MisFunciones/Funciones.js") %>'></script>
    <asp:PlaceHolder runat="server">
        <%: Scripts.Render("~/bundles/modernizr") %>
    </asp:PlaceHolder>

    <webopt:BundleReference runat="server" Path="~/Content/css" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <style>
        body {
            background: linear-gradient(to right, #eef2f3, #8e9eab);
        }
    </style>
</head>
<body>
    <form runat="server">
        <asp:ScriptManager runat="server">
            <Scripts>
                <%--To learn more about bundling scripts in ScriptManager see https://go.microsoft.com/fwlink/?LinkID=301884 --%>
                <%--Framework Scripts--%>
                <asp:ScriptReference Name="MsAjaxBundle" />
                <asp:ScriptReference Name="jquery" />
                <asp:ScriptReference Name="WebForms.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebForms.js" />
                <asp:ScriptReference Name="WebUIValidation.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebUIValidation.js" />
                <asp:ScriptReference Name="MenuStandards.js" Assembly="System.Web" Path="~/Scripts/WebForms/MenuStandards.js" />
                <asp:ScriptReference Name="GridView.js" Assembly="System.Web" Path="~/Scripts/WebForms/GridView.js" />
                <asp:ScriptReference Name="DetailsView.js" Assembly="System.Web" Path="~/Scripts/WebForms/DetailsView.js" />
                <asp:ScriptReference Name="TreeView.js" Assembly="System.Web" Path="~/Scripts/WebForms/TreeView.js" />
                <asp:ScriptReference Name="WebParts.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebParts.js" />
                <asp:ScriptReference Name="Focus.js" Assembly="System.Web" Path="~/Scripts/WebForms/Focus.js" />
                <asp:ScriptReference Name="WebFormsBundle" />
                <%--Site Scripts--%>
            </Scripts>
        </asp:ScriptManager>

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" runat="server" href="~/">Nombre de la aplicación</a>
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Alternar navegación" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 ">
                        <li class="nav-item"><a class="nav-link" runat="server" href="~/">Inicio</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Categorias
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li>
                                    <%-- Opcion de "Todas" y que devuelva valor "0" --%>
                                    <asp:LinkButton ID="btnCatTodas" runat="server"
                                        CssClass="dropdown-item"
                                        OnClick="btnCategoria_Click"
                                        CommandArgument="0">
                                        Todas
                                    </asp:LinkButton>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <asp:Repeater ID="repCategorias" runat="server">
                                    <ItemTemplate>
                                        <li>
                                            <asp:LinkButton ID="btnCategoria" runat="server"
                                                CssClass="dropdown-item"
                                                OnClick="btnCategoria_Click"
                                                CommandArgument='<%# Eval("Id") %>'>
                                            <%#Eval("Descripcion") %>
                                            </asp:LinkButton>
                                        </li>
                                    </ItemTemplate>
                                </asp:Repeater>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Marcas
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li>
                                    <%-- Opcion de "Todas" y que devuelva valor "0" --%>
                                    <asp:LinkButton ID="btnMarTodas" runat="server"
                                        CssClass="dropdown-item"
                                        OnClick="btnMarca_Click"
                                        CommandArgument="0">
                                        Todas
                                    </asp:LinkButton>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <asp:Repeater ID="repMarcas" runat="server">
                                    <ItemTemplate>
                                        <li>
                                            <asp:LinkButton ID="btnMarca" runat="server"
                                                CssClass="dropdown-item"
                                                OnClick="btnMarca_Click"
                                                CommandArgument='<%# Eval("Id") %>'>
                                                <%#Eval("Descripcion") %>
                                            </asp:LinkButton>
                                        </li>
                                    </ItemTemplate>
                                </asp:Repeater>
                            </ul>
                        </li>
                        <%if (Session["usuarioLogueado"] != null)
                            {%>
                        <li class="nav-item"><a class="nav-link" runat="server" href="FormularioUser.aspx">Mi Perfil</a></li>
                        <li class="nav-item"><a class="nav-link" runat="server" href="~/Carrito">Mi Carrito</a></li>
                        <%}%>

                        <asp:TextBox ID="txtbuscar" runat="server" CssClass="form-control me-2" placeholder="Buscar"></asp:TextBox>
                        <asp:Button ID="btnBuscar" runat="server" OnClick="btnBuscar_Click" CssClass="btn btn-outline-success me-2" Text="Buscar" />
                        <asp:Button ID="btnLimpiarFiltro" runat="server" OnClick="btnLimpiarFiltro_Click" CssClass="btn btn-outline-secondary" Visible="false" Text="Limpiar filtro avanzado" />

                    </ul>
                    <%if (Session["usuarioLogueado"] != null)
                        {%>
                    <asp:Button ID="btnCerrarSesion" runat="server" CssClass="btn btn-outline-success" Text="Cerrar Sesión" OnClick="btnCerrarSesion_Click" />
                    <%}
                        else
                        {%>
                    <li class="btn btn-outline-success"><a class="nav-link" runat="server" href="~/Login">Ingresar</a></li>
                    <% }%>
                </div>
            </div>
        </nav>
        <div class="container body-content">
            <asp:ContentPlaceHolder ID="MainContent" runat="server">
            </asp:ContentPlaceHolder>
            <hr />
            <footer>
                <p>&copy; <%: DateTime.Now.Year %> - Mi aplicación ASP.NET</p>
            </footer>
        </div>
    </form>
    <asp:PlaceHolder runat="server">
        <%: Scripts.Render("~/Scripts/bootstrap.js") %>
    </asp:PlaceHolder>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/javascript.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
